<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <title>OMO: Oh My Oculus</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        #app-desc {
            font-size: smaller;
        }

        th {
            width: 30px;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4"><a href="{{ oapp.url }}">{{ oapp.title }}</a></h1>

        <img class="card-img-top"
             src="{{ oapp.img }}"
             onerror="this.src='/static/oculus.jpg';"
             alt="Card image cap">

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">contents</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">어플 이름</th>
                <td>{{ oapp.title }}</td>
            </tr>
            <tr>
                <th scope="row">어플 설명</th>
                <td id="app-desc">{{ oapp.desc }}</td>
            </tr>
            <tr>
                <th scope="row">카테고리</th>
                <td>{{ oapp.Category }}</td>
            </tr>
            <tr>
                <th scope="row">가격</th>
                <td>{{ oapp.price }}</td>
            </tr>
            <tr>
                <th scope="row">게임모드</th>
                <td>
                    {% for g in oapp['Game Modes'] %}
                    {{ g }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">플레이모드</th>
                <td>
                    {% for p in oapp['Supported Player Modes'] %}
                    {{ p }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">장르</th>
                <td>
                    {% for r in oapp.Genres %}
                    {{ r }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">지원 언어</th>
                <td>
                    {% for l in oapp.Languages %}
                    {{ l }}
                    {% endfor %}
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>