<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <title>OMO: Oh My Oculus</title>

<!--    meta tag-->
    <meta property="og:title" content="OMO: Oh My Oculus" />
    <meta property="og:description" content="오큘러스 어플 정보 검색 사이트입니다. 원하는 조건에 맞는 어플을 검색하세요!" />
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}" />

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .card-title {
            color: blue;
            font-weight: bold;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .card-text{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .card:hover{
            cursor: pointer;
            background-color: #898989;
        }

    </style>
    <script>
        $(document).ready(function () {
            showArticles();
        });

        function showArticles() {
            $('#cards-box').empty();
            let price = $('#btn-price').val()
            let genre = $('#btn-genre').val()
            let gamemode = $('#btn-gamemode').val()
            let playmode = $('#btn-playmode').val()
            let language = $('#btn-language').val()
            $.ajax({
                type: "POST",
                url: "/all",
                data: {
                    'price': price,
                    'genre': genre,
                    'gamemode': gamemode,
                    'playmode': playmode,
                    'language': language
                },
                success: function (response) {
                    // 1) card append
                    let applications = response['all_apps']
                    for (let i = 0; i < applications.length; i++) {
                        let title_a = applications[i]['title']
                        let img_a = applications[i]['img']
                        let desc_a = applications[i]['desc']
                        let price_a = applications[i]['price']
                        let category_a = applications[i]['Category']

                        let temp_html = `<div class="card" style="width: 18rem;"
                                              onclick="parent.location='/app?title_give=${title_a}'">
                                            <img class="card-img-top"
                                                 src="${img_a}"
                                                 onerror="this.src='/static/oculus.jpg';"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">${title_a}</h5>
                                                <p class="card-text">${desc_a}</p>
                                          </div>
                                          <ul class="list-group list-group-flush">
                                            <li class="list-group-item">카테고리: ${category_a}</li>
                                            <li class="list-group-item">가격: ₩${price_a}</li>
                                          </ul>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                    // 2) table append
                    if (price) {
                        if (price == '0') {
                            $('#selected-price').text('무료')
                        } else {
                            $('#selected-price').text(price + "만원 이하")
                        }
                    } else {
                        $('#selected-price').text(price)
                    }
                    $('#selected-genre').text(genre)
                    $('#selected-gamemode').text(gamemode)
                    $('#selected-playmode').text(playmode)
                    $('#selected-language').text(language)
                }
            })
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">내 취향 오큘러스를 찾아라</h1>
        <p class="lead">원하는 조건에 맞는 오큘러스를 검색할 수 있는 페이지입니다</p>
        <hr class="my-4">
        <div>
            <div class="btn-group">
                <select type="button" class="btn btn-outline-danger dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="btn-price">
                    <option class="dropdown-item" selected value="">--가격--</option>
                    <option class="dropdown-item" value="0">무료</option>
                    <option class="dropdown-item" value="2">2만원 이하</option>
                    <option class="dropdown-item" value="3">3만원 이하</option>
                </select>
            </div>
            <div class="btn-group">
                <select type="button" class="btn btn-outline-success dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="btn-genre">
                    <option class="dropdown-item" selected value="">----장르----</option>
                    <option class="dropdown-item" value="Music">음악</option>
                    <option class="dropdown-item" value="Action">액션</option>
                    <option class="dropdown-item" value="Travel">여행</option>
                    <option class="dropdown-item" value="Movie">영화</option>
                    <option class="dropdown-item" value="Art/Creativity">예술/창의력</option>
                    <option class="dropdown-item" value="Educational">교육</option>
                    <option class="dropdown-item" value="Puzzle">퍼즐</option>
                    <option class="dropdown-item" value="RPG">RPG</option>
                    <option class="dropdown-item" value="Adventure">어드벤처</option>
                    <option class="dropdown-item" value="Strategy">전략</option>
                    <option class="dropdown-item" value="Fighting">격투</option>
                    <option class="dropdown-item" value="Sports">스포츠</option>
                    <option class="dropdown-item" value="Horror">공포</option>
                    <option class="dropdown-item" value="Space/Universe">우주</option>
                    <option class="dropdown-item" value="360 Experience (non-game)">360도 경험</option>
                </select>
            </div>
            <div class="btn-group">
                <select type="button" class="btn btn-outline-info dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="btn-gamemode">
                    <option class="dropdown-item" selected value="">--게임모드--</option>
                    <option class="dropdown-item" value="Multiplayer">멀티 플레이</option>
                    <option class="dropdown-item" value="Single User">싱글 플레이</option>
                    <option class="dropdown-item" value="Co-op">팀 플레이</option>
                </select>
            </div>
            <div class="btn-group">
                <select type="button" class="btn btn-outline-warning dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="btn-playmode">
                    <option class="dropdown-item" selected value="">--플레이모드--</option>
                    <option class="dropdown-item" value="Sitting">좌식 플레이</option>
                    <option class="dropdown-item" value="Standing">스탠딩 플레이</option>
                    <option class="dropdown-item" value="Roomscale">룸 플레이</option>
                </select>
            </div>
            <div class="btn-group">
                <select type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" id="btn-language">
                    <option class="dropdown-item" selected value="">--언어--</option>
                    <option class="dropdown-item" value="Korean">한국어</option>
                    <option class="dropdown-item" value="English">영어</option>
                </select>
            </div>
            <button type="button" class="btn btn-danger"
                    onclick="showArticles()">Search</button>
        </div>
        <hr class="my-4">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">contents</th>
                <th scope="col">selected</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">가격</th>
                <td id="selected-price"></td>
            </tr>
            <tr>
                <th scope="row">장르</th>
                <td id="selected-genre"></td>
            </tr>
            <tr>
                <th scope="row">게임모드</th>
                <td id="selected-gamemode"></td>
            </tr>
            <tr>
                <th scope="row">플레이모드</th>
                <td id="selected-playmode"></td>
            </tr>
            <tr>
                <th scope="row">언어</th>
                <td id="selected-language"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="cards-box" class="card-columns">
    </div>
</div>
</body>

</html>